*.iml
.gradle
/local.properties
.DS_Store
/build
*/build
/*/build
*/*/build
*/*/*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
.idea
*.ipr
*.iws
*.class
*/src/androidTest
*/src/test
*/*/src/test
*/*/*/src/test
*.log
app/release
app/debug
output-metadata.json
